# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor / Native Mobile
# Ignoriamo le cartelle native perché vengono generate dal codice web.
# Se un giorno dovessi fare modifiche pesanti al codice Java/Kotlin, 
# potrai decidere di includerle, ma per ora è meglio tenerle fuori da Git.
/android
/ios